<div class="faq-one">
    <!-- faq question -->
    <h1 class="faq-page">HOW DO I KNOW IF THE DELIVERY ADDRESS AND COLLECTION ADDRESS IS WITHIN 100 MILES OF MIDLANDS?</h1>
    <!-- faq answer -->
    <div class="faq-body">
        <p>CHECK ON GOOGLE MAPS BY TYPING THE COLLECTION POSTCODE AND THEN MIDLANDS AND LOOKING AT HOW MANY MILES IT SAYS ON GOOGLE MAPS.
          REPEAT WITH DELIVERY POSTCODE. IF BOTH POST CODES ARE WITHIN 100 MILES OF MIDLANDS THEN YOU SHOULD SELECT THE LOCAL DELIVERY OPTION</p>
    </div>
</div>
  <hr class="hr-line">
  <div class="faq-two">
      <!-- faq question -->
      <h1 class="faq-page">WHAT IS A SMALL ITEM?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>ANY ITEM WHICH IS LESS THAN 1m x 0.5m x 0.5m in dimensions and weighs less than 50 kilos. </p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-three">
      <!-- faq question -->
<h1 class="faq-page">WHAT IS A LARGE ITEM?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>ANY ITEM WHICH IS LESS THAN 1.6m x 0.8m x 0.8m in dimensions and weighs less than 80 kilos</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-four">
      <!-- faq question -->
      <h1 class="faq-page">WHAT IF THERE ARE STAIRS OR LIFTS</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>Please click on request a quote as there maybe an additional charge depending on the items and the number of stairs </p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-five">
      <!-- faq question -->
      <h1 class="faq-page">HOW QUICKLY WILL YOU COLLECT AND DELIVER?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>We always aim to collect and deliver within 5 to 7 days of receiving your booking,
             unless you have selected the next day option whereby we aim to collect your goods within 72 hours and deliver them the next day before 9pm.</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-six">
      <!-- faq question -->
      <h1 class="faq-page">ARE MY GOODS SAFE?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>Rest assured we have goods in transit cover of £100,000</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-seven">
      <!-- faq question -->
      <h1 class="faq-page">IT SAYS FREE PACKAGING WHAT DOES THIS MEAN?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>For a limited time we will supply bubble wrap and blankets to keep goods safe during transit for no additional
            charge so you can rest assured that your goods will be protected during transit.</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-eight">
      <!-- faq question -->
      <h1 class="faq-page">CAN I TRACK MY DELIVERY?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>Yes we supply you on the day with a link for you to track your goods.</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-nine">
      <!-- faq question -->
      <h1 class="faq-page">HOW CAN I SPEAK TO YOU?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>You can always contact us using the contact us page whereby we aim to get back to you within 24hrs,
            or if the live chat option is available you can live chat, or you can call us during our the hours of 9am to 9pm.</p>
      </div>
  </div>
  <hr class="hr-line">
  <div class="faq-ten">
      <!-- faq question -->
      <h1 class="faq-page">WHAT IF MY ITEM IS BIGGER THAN THE LARGE ITEM DIMENSIONS?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>Please use the request a quote option to receive a personalized quote.</p>
      </div>
  </div>

  <hr class="hr-line">
  <div class="faq-eleven">
      <!-- faq question -->
      <h1 class="faq-page">WILL YOU CONTACT THE SELLER OR BUYER AND ARRANGE THE COLLECTION OR DELIVERY TIME?</h1>
      <!-- faq answer -->
      <div class="faq-body">
          <p>Once you book we will send you a form to get all details for collection and delivery then we will liaise with all parties to arrange conveniently to collect and deliver asap.</p>
      </div>
  </div>
