<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZRSXNWXNHT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZRSXNWXNHT');
</script>
<link rel="stylesheet" href="{% static 'booking.css' %}">
</head>
<body>
<!-- nav bar section -->
  <div class="container">
<div class="logo">
  <img class="logoimage" src="{% static 'media/images/logo.gif' %}" alt="" height = "100" width="130"/>
  </div>
<nav>
  <ul>
  <li>Home</li>
  <li>Book a job</li>
  <li>Current Deliveries</li>
  <li>logout</li>
  </ul>
  </nav>
</div>
<hr />

<div class="testbox">
  <form action="{% url 'Booking' %}" method="POST">
      {% csrf_token %}
      {{ form1.as_p }}
      {{ form2.as_p }}
      <div class="banner">
        <h1>Booking A Delivery</h1>
      </div>
      <br/>
      <br/>
      <fieldset>
        <legend>Item Description </legend>
          <div class="item">
          <label for="instruction">What is the Item? e.g. chair, washing machine...</label>
          <textarea id="instruction" rows="3" name="item_name"></textarea>
          </div>
          <label for="instruction">Item Dimensions e.g. Height, Width, and Length</label>
          <div class="row">
            <div class="column">
              <textarea placeholder="Width" rows="2" name="item_width"></textarea>
            </div>

              <div class="column">
                <textarea placeholder="Height" rows="2" name="item_height"></textarea>
            </div>

            <div class="column">
              <textarea placeholder="Length" rows="2" name="item_length"></textarea>
            </div>
          </div>
      </fieldset>
<br/>
      <fieldset>
        <legend>Collection Details (Pick-Up)</legend>
        <div class="columns">
          <div class="item">
            <label for="fname">Name<span>*</span></label>
            <input id="fname" type="text" name="sender_name" />
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="sender_last_name" />
          </div>
          <div class="item">
            <label for="address">Address<span>*</span></label>
            <input id="address" type="text" name="address" />
          </div>
          <div class="item">
            <label for="zip">Post Code<span>*</span></label>
            <input id="zip" type="text" name="sender_postcode" />
          </div>
          <div class="item">
            <label for="city">City<span>*</span></label>
            <input id="city" type="text" name="town" />
          </div>
          <div class="item">
            <label for="state">County<span>*</span></label>
            <input list="state" type="text" name="sender_county" />
            <datalist id="state">
              <optgroup label="England">
                  <option>Bedfordshire</option>
                  <option>Berkshire</option>
                  <option>Bristol</option>
                  <option>Buckinghamshire</option>
                  <option>Cambridgeshire</option>
                  <option>Cheshire</option>
                  <option>City of London</option>
                  <option>Cornwall</option>
                  <option>Cumbria</option>
                  <option>Derbyshire</option>
                  <option>Devon</option>
                  <option>Dorset</option>
                  <option>Durham</option>
                  <option>East Riding of Yorkshire</option>
                  <option>East Sussex</option>
                  <option>Essex</option>
                  <option>Gloucestershire</option>
                  <option>Greater London</option>
                  <option>Greater Manchester</option>
                  <option>Hampshire</option>
                  <option>Herefordshire</option>
                  <option>Hertfordshire</option>
                  <option>Isle of Wight</option>
                  <option>Kent</option>
                  <option>Lancashire</option>
                  <option>Leicestershire</option>
                  <option>Lincolnshire</option>
                  <option>Merseyside</option>
                  <option>Norfolk</option>
                  <option>North Yorkshire</option>
                  <option>Northamptonshire</option>
                  <option>Northumberland</option>
                  <option>Nottinghamshire</option>
                  <option>Oxfordshire</option>
                  <option>Rutland</option>
                  <option>Shropshire</option>
                  <option>Somerset</option>
                  <option>South Yorkshire</option>
                  <option>Staffordshire</option>
                  <option>Suffolk</option>
                  <option>Surrey</option>
                  <option>Tyne and Wear</option>
                  <option>Warwickshire</option>
                  <option>West Midlands</option>
                  <option>West Sussex</option>
                  <option>West Yorkshire</option>
                  <option>Wiltshire</option>
                  <option>Worcestershire</option>
              </optgroup>
              <optgroup label="Wales">
                  <option>Anglesey</option>
                  <option>Brecknockshire</option>
                  <option>Caernarfonshire</option>
                  <option>Carmarthenshire</option>
                  <option>Cardiganshire</option>
                  <option>Denbighshire</option>
                  <option>Flintshire</option>
                  <option>Glamorgan</option>
                  <option>Merioneth</option>
                  <option>Monmouthshire</option>
                  <option>Montgomeryshire</option>
                  <option>Pembrokeshire</option>
                  <option>Radnorshire</option>
              </optgroup>
              <optgroup label="Scotland">
                  <option>Aberdeenshire</option>
                  <option>Angus</option>
                  <option>Argyllshire</option>
                  <option>Ayrshire</option>
                  <option>Banffshire</option>
                  <option>Berwickshire</option>
                  <option>Buteshire</option>
                  <option>Cromartyshire</option>
                  <option>Caithness</option>
                  <option>Clackmannanshire</option>
                  <option>Dumfriesshire</option>
                  <option>Dunbartonshire</option>
                  <option>East Lothian</option>
                  <option>Fife</option>
                  <option>Inverness-shire</option>
                  <option>Kincardineshire</option>
                  <option>Kinross</option>
                  <option>Kirkcudbrightshire</option>
                  <option>Lanarkshire</option>
                  <option>Midlothian</option>
                  <option>Morayshire</option>
                  <option>Nairnshire</option>
                  <option>Orkney</option>
                  <option>Peeblesshire</option>
                  <option>Perthshire</option>
                  <option>Renfrewshire</option>
                  <option>Ross-shire</option>
                  <option>Roxburghshire</option>
                  <option>Selkirkshire</option>
                  <option>Shetland</option>
                  <option>Stirlingshire</option>
                  <option>Sutherland</option>
                  <option>West Lothian</option>
                  <option>Wigtownshire</option>
              </optgroup>
              <optgroup label="Northern Ireland">
                  <option>Antrim</option>
                  <option>Armagh</option>
                  <option>Down</option>
                  <option>Fermanagh</option>
                  <option>Londonderry</option>
                  <option>Tyrone</option>
              </optgroup>
            </datalist>
          </div>
          <div class="item">
            <label for="eaddress">Email Address<span>*</span></label>
            <input id="eaddress" type="text" name="email" />
          </div>
          <div class="item">
            <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel" name="phone_number" />
          </div>
      </fieldset>
<br/>
      <fieldset>
        <legend>Delivery Details (Drop-Off)</legend>
        <div class="columns">
          <div class="item">
            <label for="fname">First Name<span>*</span></label>
            <input id="fname" type="text" name="first_name" />
          </div>
          <div class="item">
            <label for="lname"> Last Name<span>*</span></label>
            <input id="lname" type="text" name="last_name" />
          </div>
          <div class="item">
            <label for="address">Address<span>*</span></label>
            <input id="address" type="text" name="customer_address" />
          </div>
          <div class="item">
            <label for="zip">Post Code<span>*</span></label>
            <input id="zip" type="text" name="postcode" />
          </div>
          <div class="item">
            <label for="city">City<span>*</span></label>
            <input id="city" type="text" name="city" />
          </div>
          <div class="item">
            <label for="state">County<span>*</span></label>
            <input list="state" type="text" name="county" />
            <datalist id="state">
              <optgroup label="England">
                  <option>Bedfordshire</option>
                  <option>Berkshire</option>
                  <option>Bristol</option>
                  <option>Buckinghamshire</option>
                  <option>Cambridgeshire</option>
                  <option>Cheshire</option>
                  <option>City of London</option>
                  <option>Cornwall</option>
                  <option>Cumbria</option>
                  <option>Derbyshire</option>
                  <option>Devon</option>
                  <option>Dorset</option>
                  <option>Durham</option>
                  <option>East Riding of Yorkshire</option>
                  <option>East Sussex</option>
                  <option>Essex</option>
                  <option>Gloucestershire</option>
                  <option>Greater London</option>
                  <option>Greater Manchester</option>
                  <option>Hampshire</option>
                  <option>Herefordshire</option>
                  <option>Hertfordshire</option>
                  <option>Isle of Wight</option>
                  <option>Kent</option>
                  <option>Lancashire</option>
                  <option>Leicestershire</option>
                  <option>Lincolnshire</option>
                  <option>Merseyside</option>
                  <option>Norfolk</option>
                  <option>North Yorkshire</option>
                  <option>Northamptonshire</option>
                  <option>Northumberland</option>
                  <option>Nottinghamshire</option>
                  <option>Oxfordshire</option>
                  <option>Rutland</option>
                  <option>Shropshire</option>
                  <option>Somerset</option>
                  <option>South Yorkshire</option>
                  <option>Staffordshire</option>
                  <option>Suffolk</option>
                  <option>Surrey</option>
                  <option>Tyne and Wear</option>
                  <option>Warwickshire</option>
                  <option>West Midlands</option>
                  <option>West Sussex</option>
                  <option>West Yorkshire</option>
                  <option>Wiltshire</option>
                  <option>Worcestershire</option>
              </optgroup>
              <optgroup label="Wales">
                  <option>Anglesey</option>
                  <option>Brecknockshire</option>
                  <option>Caernarfonshire</option>
                  <option>Carmarthenshire</option>
                  <option>Cardiganshire</option>
                  <option>Denbighshire</option>
                  <option>Flintshire</option>
                  <option>Glamorgan</option>
                  <option>Merioneth</option>
                  <option>Monmouthshire</option>
                  <option>Montgomeryshire</option>
                  <option>Pembrokeshire</option>
                  <option>Radnorshire</option>
              </optgroup>
              <optgroup label="Scotland">
                  <option>Aberdeenshire</option>
                  <option>Angus</option>
                  <option>Argyllshire</option>
                  <option>Ayrshire</option>
                  <option>Banffshire</option>
                  <option>Berwickshire</option>
                  <option>Buteshire</option>
                  <option>Cromartyshire</option>
                  <option>Caithness</option>
                  <option>Clackmannanshire</option>
                  <option>Dumfriesshire</option>
                  <option>Dunbartonshire</option>
                  <option>East Lothian</option>
                  <option>Fife</option>
                  <option>Inverness-shire</option>
                  <option>Kincardineshire</option>
                  <option>Kinross</option>
                  <option>Kirkcudbrightshire</option>
                  <option>Lanarkshire</option>
                  <option>Midlothian</option>
                  <option>Morayshire</option>
                  <option>Nairnshire</option>
                  <option>Orkney</option>
                  <option>Peeblesshire</option>
                  <option>Perthshire</option>
                  <option>Renfrewshire</option>
                  <option>Ross-shire</option>
                  <option>Roxburghshire</option>
                  <option>Selkirkshire</option>
                  <option>Shetland</option>
                  <option>Stirlingshire</option>
                  <option>Sutherland</option>
                  <option>West Lothian</option>
                  <option>Wigtownshire</option>
              </optgroup>
              <optgroup label="Northern Ireland">
                  <option>Antrim</option>
                  <option>Armagh</option>
                  <option>Down</option>
                  <option>Fermanagh</option>
                  <option>Londonderry</option>
                  <option>Tyrone</option>
              </optgroup>
            </datalist>
          </div>
          <div class="item">
            <label for="eaddress">Email Address<span>*</span></label>
            <input id="eaddress" type="text" name="customer_email" />
          </div>
          <div class="item">
            <label for="phone">Phone<span>*</span></label>
            <input id="phone" type="tel"   name="customer_phone_number" />
          </div>
      </fieldset>

      <br/>
      <fieldset>
      <legend>Dates</legend>
      <div class="columns">
      <div class="item">
      <label for="checkindate">Collection Date <span>*</span></label>
      <input id="checkindate" type="date" name="checkindate" />
      <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
      <label for="checkoutdate">Delivery Date <span>*</span></label>
      <input id="checkoutdate" type="date" name="checkoutdate" />
      <i class="fas fa-calendar-alt"></i>
      </div>
      <div class="item">
      <p>Collection Time </p>
      <select>
      <option value="" disabled selected>Select time</option>
      <option value="1" >Morning (9am - 11:59am)</option>
      <option value="2">Afternoon (12pm - 5pm)</option>
      <option value="3">Evening (5:30pm - 7pm)</option>
      </select>
      </div>
      <div class="item">
      <p>Delivery Time </p>
      <select>
      <option value="4" disabled selected>Select time</option>
      <option value="5" >Morning</option>
      <option value="6">Afternoon</option>
      <option value="7">Evening</option>
      </select>
      </div>
      <div class="item">
      <label for="instruction">Special Instructions</label>
      <textarea id="instruction" rows="3"></textarea>
      </div>
      </fieldset>
      {% for field in CollectionForm %}
      {% for error in field.errors %}
      <p style="color:red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    {% if CollectionForm.non_field_errors %}
    <div style="color: red">
      <p>{{CollectionForm.non_field_errors}}</p>
    </div>

    {% endif %}
      {% for field in DeliveryForm %}
      {% for error in field.errors %}
      <p style="color:red">{{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}
    {% if DeliveryForm.non_field_errors %}
    <div style="color: red">
      <p>{{DeliveryForm.non_field_errors}}</p>
    </div>

    {% endif %}
      <div class="btn-block">
      <button  type="submit">Book Now</button>
      </div>
    </form>
    </div>


<footer>
	<p>Copyright &copy; 2021 ASUS Logistics Ltd</p>
</footer>
</body>

</html>
