<!DOCTYPE html>
{% load static %}

<html>
<head>

	</head>
	<body>

<div ng-if="UserInfo.approvedTermsAndConditions || !UserInfo.isAuthenticated">
	<ncy-breadcrumb></ncy-breadcrumb>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form name="tandc" ng-submit="approveTandC()">
				<div class="panel panel-default" style="margin-top:20px;">
					<div class="panel-body" style="max-height:600px; overflow-y:scroll; background-color:white;">
						<div>
							<img src="{% static 'media/logo.png' %}" height ="100px" alt="" class="light-version-logo" style="display: block; margin-left: auto; margin-right: auto;">
							<h1 style="text-align:center;">Terms and Conditions</h1>
							<ol style="margin-top:50px; margin-left:350px; margin-right:350px;">
							<li style="padding-bottom:20px;"> We, Us, Our– ASUS Logistics Limited, company number 11167291, whose registered office address is at 20 – 22 Wenlock Rd, London, N1 7GU; and </li>
							<li style="padding-bottom:20px;">You – whose details are provided by you </li>
							<h2>1. WHAT CERTAIN WORDS MEAN</h2>
							<p>1.1 In these Conditions, certain words will have a special meaning. The words and their meanings are set out here for reference. When these certain words appear in the conditions of carriage, the words will have the corresponding meaning set out here:</p>
							<table>
								<th>.........................................</th>
								<th>          </th>

								<tr>
    								<td>Address Label</td>
    								<td>means the label setting out the Delivery Address and other information needed by Us to collect and deliver the Shipment;</td>
  							</tr>

								<tr>
										<td>Authorised Agent</td>
										<td>means a third party authorised by us to offer Our Services on our behalf;</td>
								</tr>

								<tr>
									<td>Breakable Goods</td>
									<td>means items that are not suitable for transport in our network because they are delicate, or fragile, or can easily be damaged even despite good packaging. More details can be found on the Website, but examples can include items containing or made of: glass, china, ceramics, pottery, stoneware, fossils, works of art, paper/card, cake televisions whose screen size exceeds 37 inches. Please refer to the Website for more information; </td>
								</tr>

								<tr>
									<td>Collection Address </td>
									<td>means the address you have specified (“Your Address”), or such other address that you may specify in your order through the Website or through an authorised agent (“Third Party Address”);</td>
								</tr>

								<tr>
									<td>Conditions </td>
									<td>means these terms and conditions (as may be amended by us from time to time); </td>
								</tr>


								<tr>
									<td>Contract </td>
									<td>means the order you place through the Website (or with an authorised agent), these Conditions and any documents referred to in the Conditions, provided to you by an authorised agent (if applicable), and/or the Website; </td>
								</tr>

								<tr>
									<td> Customs</td>
									<td>means either the HMRC, or their equivalent in relation to the Isle of Man, the Channel Islands or anywhere else in the world; </td>
								</tr>

								<tr>
									<td>Dangerous Goods</td>
									<td>means any items that are classified as dangerous under the United Nations Recommendations on the Transport of Dangerous Goods, the European Agreement Concerning the International Carriage of Dangerous Goods by Road, the International Civil Aviation Organisation Technical Instructions, the International Air Transport Association Dangerous Goods Regulations or any other national or international legislation, rules or guidance relating to the transport of dangerous goods by rail, road, air or sea, and any other items which We consider as dangerous to transport; </td>
								</tr>

								<tr>
									<td>Delivery Address</td>
									<td>Means: a) the address on the Address Label to which delivery is to be made; b) such alternative address specified by the recipient of the Shipment (where applicable); or c) the location of Local Parcel Shop (where applicable);</td>
								</tr>

								<tr>
									<td>Extras</td>
									<td>means the additional options you have selected when making your order, which include for example: signature only service. Fuller details are available on the Website;</td>
								</tr>

								<tr>
									<td>For Convenience </td>
									<td>means for any or no reason at all;</td>
								</tr>

								<tr>
									<td>  </td>
									<td>  </td>
								</tr>

								<tr>
									<td>Perishable Goods</td>
									<td>means any items that are prone to decay or could deteriorate, rot, corrode, decompose or perish within a reasonably short period of time. An illustrative example could be fresh food produce such as fish, meat, cakes, vegetables.  </td>
								</tr>

								<tr>
									<td>Prohibited Goods</td>
									<td>means any items which we will not and cannot carry in any quantity whatsoever because doing so would be illegal either in the UK or any other country over which the Shipment travels. Items include by way of example, illicit drugs, medicines, radioactive material, firearms (even replicas, blank firing, imitations), explosives, munitions (even dummies, or otherwise deactivated), ), animals, animal parts, livestock, insects, tobacco or tobacco products;</td>
								</tr>

								<tr>
									<td>Restricted Goods</td>
									<td>means goods of a nature that it is Our policy not to carry, such as liquids, paints, acids or other corrosive liquids, inks (other than inkjet printer cartridges, food (other than cereal or other dried foods), flora, plants, vegetation, medicines, drugs, alcoholic beverages and such other goods that are published on our Website from time to time as ‘no compensation’ goods or similar.</td>
								</tr>

								<tr>
									<td>Valuable Goods</td>
									<td>means any items that exceed the value of the highest band (as set out in clause 7.4 or 7.5 as applicable) or such other items that are irreplaceable or not easily replaced, or have sentimental value, or which could easily be used by persons other than You or the intended recipient. Examples include: precious metals, stones or gems,  cashiers/travellers cheques, bearer instruments, stored value cards (including pre-loaded cards and top-up cards), credit/debit cards, important documents (passports, birth/marriage certificates, share certificates), stamps, antiques, unprotected furniture, artwork, jewellery, designer clothing and accessories (including watches, footwear, handbags). This is not an exhaustive list and further information can be found on the Website.</td>
								</tr>

								<tr>
									<td>Value</td>
									<td>means either, the cost value of the item at which you purchased or manufactured it, or the open market value of the item (on a like for like basis, not new for old), whichever is the lowest.</td>
								</tr>

								<tr>
									<td>  </td>
									<td>  </td>
								</tr>

							</table>
							<h2>2. YOUR RESPONSIBILITIES TO US</h2>
							<p>2.1 Set out below are your responsibilities to Us under the Contract. It is very important that you take your responsibilities seriously and comply with them. If you fail to comply with your responsibilities, there will be consequences as set out at clause 3.5.</p>
							<p>Your details</p>
							<br />

							<table>
								<th> </th>
								<th> </th>

								<tr>
									<td>2.2.1</td>
									<td>all of the details on your Account Signup Form are completely true and accurate;</td>
								</tr>

								<tr>
									<td>2.2.2</td>
									<td>you are at least 17 years old </td>
								</tr>

								<tr>
									<td>2.2.3</td>
									<td>you are the owner of the Shipment and its contents, or you have the owner’s permission to enter into this Contract;</td>
								</tr>

								<tr>
									<td>2.2.4</td>
									<td>that you have read and fully understood the terms of the Contract, including these Conditions; and</td>
								</tr>

								<tr>
									<td>2.2.5</td>
									<td>you are aware of the value of your Shipment and are happy that the value of the Shipment is within the liability option you have selected. IT IS CRITICAL THAT YOU CHOOSE THE LIABILITY OPTION THAT COVERS THE VALUE OF YOUR SHIPMENT BEFORE YOU COMMIT TO PURCHASING YOUR ORDER. IF YOU DO NOT CHOOSE THE APPROPRIATE LIABILITY OPTION, YOU WILL BE DEEMED TO HAVE ACCEPTED THE RISK THAT YOU MIGHT NOT GET THE VALUE OF YOUR SHIPMENT BACK.</td>
								</tr>

								<tr>
									<td> </td>
									<td> </td>
								</tr>
							</table>

							<p>Your Shipment</p>
							<P>2.3 By purchasing your order, you are confirming to Us that:</P>
							<table>
								<th>.............................</th>
								<th> </th>

								<tr>
									<td>2.3.1</td>
									<td>any information you give to Us relating to your Shipment such as (but not limited to): a) the recipient’s details; b) the Collection address, c) the Delivery address, d) description of the contents of your Shipment, e) dimensions and weight of your Shipment</td>
								</tr>

								<tr>
									<td>2.3.2  </td>
									<td>the proper Delivery Address Labels have been stuck properly on the Shipment in a place where it can easily be machine read. </td>
								</tr>

								<tr>
									<td>2.3.3 </td>
									<td>your Shipment and its contents do not break any Laws; </td>
								</tr>

								<tr>
									<td>2.3.4</td>
									<td>your Shipment fully complies with the Service Option you have selected and the terms of this Contract. This includes making sure that your Shipment fits within the dimension and weight restrictions of the selected service. If your Shipment is larger and/or heavier than Our largest Service Option, you should contact Us and We can give you a quote for your Shipment; </td>
								</tr>

								<tr>
									<td>2.3.5</td>
									<td>your Shipment and its contents are safe for Us to handle and is properly packaged to protect it against drops, falls, and shunts. Poorly packaged Shipments can easily be damaged in an automated system. Even if you use Us to collect a Shipment on your behalf to deliver to you, it is your responsibility to make sure that in your contract with the sender that your Shipment is properly packaged and conforms with all of your responsibilities you have agreed to in this clause 2; and</td>
								</tr>

								<tr>
									<td style="vertical-align:top;">2.3.6</td>
									<td>your Shipment does not contain any of the following:
											<table>
												<th>...............</th>
												<th> </th>

												<tr>
													<td>2.3.6.1 </td>
													<td>Breakable Goods;</td>
												</tr>

												<tr>
													<td>2.3.6.2</td>
													<td>Valuable Goods;</td>
												</tr>
												<tr>
													<td>2.3.6.3 </td>
													<td>Prohibited Goods;</td>
												</tr>
												<tr>
													<td>2.3.6.4 </td>
													<td>Dangerous Goods;</td>
												</tr>
												<tr>
													<td>2.3.6.5 </td>
													<td>Perishable goods ;</td>
												</tr>
												<tr>
													<td>2.3.6.6 </td>
													<td>Restricted Goods; or</td>
												</tr>
												<tr>
													<td>2.3.6.7 </td>
													<td>Any item or items worth more than the highest amount stated in clause 7 as applicable, or which otherwise exceeds the maximum value of any purchased liability limit (where applicable).</td>
												</tr>

												<td> </td>
												<td>You understand and accept that Our services are not designed to transport Shipments containing any of the above items and in the case of Prohibited Goods, it is illegal for Us to carry them. You must not send any Shipments containing items of the nature above. SHOULD YOU SEND ANY SHIPMENTS THAT CONTAIN ITEMS OF THE NATURE ABOVE, YOU WILL NOT RECEIVE A REFUND FOR THE COST OF CARRIAGE, OR A REFUND FOR ANY LIABILITY OPTIONS YOU SELECTED.</td>
											</table>
							</table>

							<p>The consequences on you if you fail to comply with clauses 2.2 and 2.3</p>
							<p>2.4 You agree and accept that We cannot check every single Shipment so the fact that We have collected your Shipment does not mean that you are excused from your responsibilities. The consequences of your failure to comply with clauses 2.2 and 2.3 are set out below. </p>
								<table>
									<th> </th>
									<th> </th>

									<tr>
										<td style="vertical-align:top;">2.5</td>
										<td>If at any time after We have collected the Shipment from you it is discovered that you have failed to fulfil your responsibilities to us, then you agree that:
												<table>
													<th> </th>
													<th> </th>

													<tr>
														<td>2.5.1</td>
														<td>Our carrying of that Shipment will be completely at your risk and We (including Our authorised agents) will not be responsible for any loss of or damage or delay to that Shipment;</td>
													</tr>

													<tr>
														<td>2.5.2</td>
														<td>you will be responsible for paying to Us any and all costs We may incur as a result of your failure to comply with your responsibilities. These may include but not limited to: clean-up costs, additional charges levied on Us by Our agents, or Our partners, and customs charges (if you are sending overseas); and</td>
													</tr>

													<tr>
														<td style="vertical-align:top;">2.5.3</td>
														<td>where your Shipment is found to exceed the weight and dimensions restrictions of the Service Option you have chosen, you agree that the Shipment should be carried and charged in accordance with the correct Service Option. We can hold your Shipment until you (or if the Shipment has already been delivered, You must still be required to):
															<table>
																<th> </th>
																<th> </th>

																<tr>
																	<td style="vertical-align:top;">2.5.3.1 </td>
																	<td>pay the difference between the Service Option you chose, and the Service Option that your Shipment actually complies with; or</td>
																</tr>

																<tr>
																	<td style="vertical-align:top;">2.5.3.2</td>
																	<td>if a Service Option is not available because you have chosen the largest Service Option and your Shipment still exceeds the weight and size directions of that Service Option, you agree to pay Our additional charges which We will calculate for you if you choose this option; or</td>
																</tr>

																<tr>
																	<td style="vertical-align:top;">2.5.3.3 </td>
																	<td>collect Your Shipment yourself from the depot it has been held at, which could be any one of Our depots depending on when your Shipment was found to have not complied with the Service Option you chose; <br>
																			if you do nothing, We will hold your Shipment for 6 weeks and We will give you a last chance to choose an option. If you refuse to choose an option, then you accept that you have simply abandoned your Shipment and We will dispose of it in whatever manner We think is appropriate, including selling it to cover Our costs.
																	</td>
																</tr>

															</table>
														</td>
													</tr>

												</table>
										</td>
									</tr>

								</table>

								<h2>3. THE PARCEL SERVICE </h2>






							<li style="padding-bottom:20px;">We agree to collect and deliver small to medium sized goods for the whole month for a charge of £49.99 per month. Small goods are classed as a box, chair, car seat, pushchair, suitcase etc. Medium goods are classed as a 2-seater sofa, a bike, washing machine etc. There is a weight limit of 60 kilos and anything weighing more there will be an extra charge which you will be told about when booking the delivery. Please always make sure there is help to load and unload any heavy or awkward items.</li>
	  					<li style="padding-bottom:20px;">We agree to store your goods for up to 3 days while the goods are in transit at no extra charge.</li>
	  					<li style="padding-bottom:20px;">We agree to provide protective materials to make sure your goods are safe during transit at no extra charge.</li>
							<li style="padding-bottom:20px;">FAIR USAGE POLICY – To allow fairness to all our members you can only make one booking at a time (one booking can consist of multiple items) and need to wait until it is completed before booking another delivery</li>
							<li style="padding-bottom:20px;">We aim to collect and deliver your goods within 3 to 5 days from when you tell us about the delivery. In busy periods this may increase to 7 days </li>
							<li style="padding-bottom:20px;">The Anything anywhere exclusive offer does not apply for businesses, if you are a business we provide other more suited plans so call us on 01213143083 for a free consultation.</li>
							<li style="padding-bottom:20px;">There are additional charges for large items and you will always be told of these when booking. </li>
							<li style="padding-bottom:20px;">The plan only covers deliveries as far north as Glasgow, Edinburgh and Dundee. Certain postcodes are not included and will incur an extra charge which you will be notified of when booking, these postcodes are SA, SY, LL, PL, TR, CT, NR and surrounding post codes. We will always notify you of any extra charges that you will incur at the outset to give you the choice of whether to proceed or not with the delivery.</li>
						</ol>
						</div>
					</div>
				</div>
				<div style="text-align:center;" ng-if="settings.Authentication.RequireTermsAndConditions && !UserInfo.approvedTermsAndConditions && UserInfo.isAuthenticated">
				</div>
			</form>
		</div>
	</div>
</div>
	</body>
</html>
