
.termsCenter {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

.termsCenter a:hover {
color: black !important;
}

.bg
{
  width:1300px !important;
  z-index: 0;
}

.content small{
 font-size: 30px;
}


.content.section-heading-8.text-lg-start.text-center{
  text-align: center !important;



}


@media (min-width: 320px) {
  .bg
  {
    width:320px !important;
    z-index: 0;
    text-align: center;

  }
  .column .column2  {

    width: 100%;


  }
  .column i {
    padding-bottom: 15px;

  }
  }
  @media (min-width: 480px) {
    .bg
    {
      width:480px !important;
      z-index: 0;
    }
    }
    @media (min-width: 920px) {
      .bg
      {
        width:1400px !important;
        z-index: 0;
        height: 500px;
      }
      }


      @media (min-width: 975px) {
        .content h1{
          padding-top: 0px;
          margin-top: -120px;

        }
        .column {

          width: 20%;
          float: left;
          padding: 10px;
          height: 170px; /* Should be removed. Only for demonstration */

        }
        .column2 {
          width: 70%;
          float: left;
          padding: 10px;
          height: 170px; /* Should be removed. Only for demonstration */

        }
        }
.footersection p {
  text-align: center;
}


.column2 p {
font-size: 25px;

}
.column2 small {
font-size: 15px;

}

.subcontent {
  margin: 100px;

}
