* {
  box-sizing: border-box;
}

body {
  background: lightgrey url("") no-repeat fixed center;

}

.menu_border{

  padding: 20px;
  margin: 20px;
  border: 20px;
}
.menu_border h1 {
  text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  margin: 5px;
  width: 30.33%;
  float: left;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
   border-radius: 25px;
}
.column:hover {
  background: #109bea !important;
}

.column h2 {
  text-align: center;
}
.column .logoimage {
  text-align: center;

}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
/*  border-style: solid;
 border-color: coral; */
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row {
  width: 100%;
}

*{transition:all 0.3s ease-in-out;}

.container{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}

button:hover{
  color:#109bea;

img.logoimage {
  padding-left: 500px !important;
}